body {
    background-color: #0D1B2A;
    color: #E0E1DD;
}
nav {
    background-color: #415A77;
}

.exec {
    background-image: url("../assets/imgs/exercicios-fisicos-academia-600x400.webp");
}
.dia{
    background-image: url("../assets/imgs/images.jpg");
    
}
.dieta{
    background-image: url("../assets/imgs/images.jpg");
}